@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@700&family=Raleway:wght@400;600;700&display=swap');
body {
    margin: 0;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    color: #6c7279;
    background: #fff;
    -webkit-font-smoothing: antialiased;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0 0 10px;
}
/*Сontainer
=================================*/
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/*Header
================================ */
.header{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

}
.header__inner{
    padding: 35px 0 35px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4f5168;
    align-items: center;
}

/*Nav
========================================*/
.nav {
    display: flex;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}
.nav__link {
    margin-left: 59px;
    color: #fff;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity .2s linear;
}
.nav__link:hover {
    opacity: 1;
}
.nav__link:first-child {
    margin-left: 0;

}

/*intro
=============================================*/
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2c2f49;

}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}
.intro__title {
    margin: 0 0 43px;
    font-family: "Open Sans", sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.intro__subtitle {
    font-size: 22px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
    margin: 0 0 73px;
}

/* Button
===================================*/
.btn{
    display: inline-block;
    vertical-align: top;
    font-family: Raleway, sans-serif;
    border: 0;
    cursor: pointer;
    padding: 15px 46px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: background-color .2s linear;
}

.btn--red{
   background-color: #e84545;
}
.btn--red:hover {
    background-color: #ae2f2f;
}

/* Features
=============================================*/
.features {
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;
}
.features__item {
    padding: 0 40px;
    margin: 25px 0;
    width: 33.33333%;
    text-align: center;
}
.features__icon {
    margin-bottom: 25px;
}
.feauters__title {
    color: #2d3033;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.features__text {
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
}